@font-face {
  font-family: "DMsans";
  src: url(./fonts/DMSans-Regular.ttf);
}

body {
  font-family: "DMsans";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.content {
  max-width: 75.375rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
  border: 0.3rem double #0000009a;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  display: flex;
  gap: 4rem;
  background-color: #8d898900;
}
.mike {
  height: 74rem;
  width: 45rem;
  border-radius: 2rem;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2rem solid #ececec;
  /* box-shadow: 0 0.19rem 0.18rem #ececec; */
  padding-bottom: 0.5rem;
  margin-bottom: 2.5rem;
}
.time {
  margin-left: 1.5rem;
}
.network {
  margin-right: 1rem;
}
.fairy {
  height: 17rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.parti {
  padding: 0.5rem 2rem;
  background-color: white;
  border: 0.1rem solid #00000040;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}
a:link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 120%;
}
.part-one {
  display: flex;
  gap: 2rem;
}
.part {
  display: flex;
  gap: 0.6rem;
}
.text {
  margin-top: 0.3rem;
  font-weight: 700;
}
.sign {
  color: #00000080;
  text-align: center;
  font-size: 100%;
  margin-bottom: 2rem;
}
h2 {
  margin-bottom: 0.9rem;
}
.heading {
  color: #00000080;
  font-size: 100%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.ans {
  color: #000000cc;
  margin-left: 0.4rem;
  width: 21rem;
  text-align: left;
  border: 0.1rem solid #00000052;
  padding: 1rem 1rem;
}
.part2 {
  display: flex;
  color: #000000cc;
  margin-left: 0.4rem;
  width: 21rem;
  text-align: left;
  border: 0.1rem solid #00000052;
  padding: 1rem 1rem;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.active {
  text-align: center;
  color: #00000075;
  font-size: 110%;
  margin-bottom: 1rem;
}
.term {
  display: inline;
  color: #000000cc;
  font-size: 100%;
}
.create {
  font-size: 140%;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 0.8rem 4.5rem;
  margin-left: 2.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
.create:hover {
  background-color: #000000be;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  margin-bottom: 1rem;
}
.account {
  color: #00000080;
  font-size: 100%;
}
.log {
  font-weight: 600;
  font-size: 100%;
}
